@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS 초기화 여기까지*/



body{
    margin:0;
}


.about
{

    top:26px;
    margin:0;
    position: absolute;
    left:30%;
        z-index: 10;
}

.work
{
    top:26px;
    margin:0;
    position: absolute;
    left: 60%;
    z-index: 10;
}

.star
{
    top:0;
    width:100%;
    margin:0;
    position: absolute;
    z-index: 9;
}

.moon
{
    top:15%;
    left: 15%;
    margin:0;
    position: absolute;
    z-index: 8;
    opacity: 1;
    transition: 0.2s;
}

.moon img {
    width: 94px;
    height: 104px;
    transition: 2s;
}


@media (max-width:500px)
{
    .moon img
    {
        width: 47px;
        height: 52px;
    }

}


.sky
{
    max-width:100%;
    margin:0;
    position: relative;
    width: 100%;
    height: 100%;
}


@media (max-width:500px)
{
    .sky
    {
    max-width:100%;
    margin:0;
    position: relative;
    width: 100%;
    height: 60%;
    }
}

.sky_back {
    position:absolute;
    z-index:0;
    width : 100%;
    height: 100%;
}

.sky_back img {
    height: 100%;
}



.back
{
    position: relative;
}




.text
{
    position: absolute;
    width: 100%;
    margin: 0;
    z-index:100;
    top: 30%;
}

.ul, li
{
    list-style:none;
    text-align: center;
    font-size: 100px;
    font-family: helvetica Neue, sans-serif;
    font-weight: 100;
    color: white;
    font-weight: 90;
    line-height: 130%;
}


@media (max-width:900px)
{
    .text
{
    position: absolute;
    width: 100%;
    margin: 0;
    z-index:100;
    top: 50%;
}
    .text .ul, li
    {
        position: relative;
        font-size: 54px;
        line-height: 58px;
    }

}

@media (max-width:500px)
{
    .text .ul, li
    {
        position: relative;
        font-size: 34px;
        line-height: 38px;
    }

}


.ma
{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width:500px)
{

.ma
{
height: 100%;
}

}

.ma1
{
    position:absolute;
    bottom:0;
    z-index: 5;
    width: 100%;
}

.ma2
{
    position:absolute;
    bottom:0;
    z-index: 4;
    width: 100%;
}



img
{
    width: 100%;
    vertical-align: top;
}



.box1
{
    position: relative;
    background-color:9daec0;
    width: 100%;
    height: 130px;
}
.box1 p
{
    position: absolute;
    width: 100%;
    top:50%;
    margin-top: -23px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: helvetica Neue, sans-serif;
    font-weight: 100;

}


@media (max-width:500px)
{
    .box1
    {
        position: relative;
        background-color:9daec0;
        width: 100%;
        height: 100px;
    }

    .box1 p
    {
        position: absolute;
        width: 100%;
        top:50%;
        margin-top: -22px;
        color: white;
        font-size: 22px;
        text-align: center;
        font-family: helvetica Neue, sans-serif;
    font-weight: 100;
    }
}




.box2
{
    position: relative;
    background-color:415c71;
    width: 100%;
    height: 130px;
}

.box2 p
{
    position: absolute;
    width: 100%;
    top:50%;
    margin-top: -23px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: helvetica Neue, sans-serif;
    font-weight: 100;

    @media (max-width:500px)
    {

        .box2
        {
            position: relative;
            background-color:9daec0;
            width: 100%;
            height: 100px;
        }

        .box2 p
        {
            position: absolute;
            width: 100%;
            top:50%;
            margin-top: -23px;
            color: white;
            font-size: 22px;
            text-align: center;
            font-family: helvetica Neue, sans-serif;
            font-weight: 100;
        }
    }
}

.layout1
{
    width: 100%;
    overflow: hidden;
}

.layout1 .left,
.layout1 .center,
.layout1 .right
{
  float: left;
  width:33.333333%;
}
.layout1 .img {
  position:relative;
  overflow:hidden;
}
.layout1 .img p {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:20px 0 20px 10px;
  background:rgba(0,0,0,0.2);
  transform:translate(0, 100%);
  color:#fff;
  transition:1s all ease;
}
.layout1 .img:hover p {
  transform:translate(0, 0);
}
.layout1 img {
  width:100%;
  vertical-align:top;
}

@media (max-width:500px) {
  .layout1 .left, .layout1 .center, .layout1 .right {
    float:none;
    width:100%;
  }
  .layout1 .img p {
    transform:translate(0, 0);
  }
}




.layout2{
    width: 100%;
}



.p1, .p2, .p3, .p4, .p5, .p6
{
    float: left;
    width:33.3%;
    padding: 0.5em;
    box-sizing: border-box;
}


@media (max-width:800px)
{
.p1, .p2, .p3, .p4, .p5, .p6
{
        float: left;
        width:50%;
        padding: 0.5em;
        box-sizing: border-box;
        }

}

@media (max-width:460px)
{
.p1, .p2, .p3, .p4, .p5, .p6
{
        float: left;
        width:100%;
        padding: 0.5em;
        box-sizing: border-box;
        }

}


.portfolio
{

    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    right: 0;
    background-color: #f7f8f9;
}










.contactus
{
    position: relative;
    width: 100%;
    height: 200px;
    background-color:#3d4445;
    margin: 0;
    padding: 0;
}

.name p
{
    position: absolute;
    width: 100%;
    color: #9ea2a2;
    top:60%;
    font-size: 16;
    text-align: center;
    font-family: dinlig;
    font-weight: 200;
}
.mail
{
    position: absolute;
    width: 100%;
    color: #9ea2a2;
    font-size: 16;
    font-family: dinlig;
    font-weight: 200;
    padding-top: 25px;
}


.faecbook
{
    position: absolute;
    top:30%;
    left:45%;
}

.blog
{
    padding-top:4px;
    position: absolute;
    top:30%;
    left:55%;
}


@media (max-width:500px)
{
    .faecbook
    {
        position: absolute;
        top:30%;
        left:38%;
    }

    .blog
    {
        position: absolute;
        top:30%;
        left:58%;
    }

}

.clearfix {
  overflow: auto;
  zoom: 1;
}
